<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="emse.mobisocial.goalz">

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".GoalzApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".test.TestActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.BaseActivity"
            android:label="@string/title_activity_base"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.UserActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.BaseActivity" />
        </activity>
        <activity android:name=".ui.CreateGoalActivity" />
        <activity android:name=".ui.CreateResourceActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.BaseActivity" />
        </activity>
        <activity
            android:name=".ui.GoalActivity"
            android:label="@string/title_activity_goal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.OnboardingActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.OnboardingActivity" />
        </activity>
        <activity
            android:name=".ui.SignupActivity"
            android:label="@string/title_activity_signup">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.OnboardingActivity" />
        </activity>
        <activity
            android:name=".ui.EditProfileActivity"
            android:label="@string/title_activity_edit_profile">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.UserActivity" />
        </activity>
        <activity
            android:name=".ui.ChangeEmailPasswordActivity"
            android:label="@string/title_activity_change_password">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.EditProfileActivity" />
        </activity>
        <activity android:name=".ui.resource_library.WebViewActivity" />
        <activity android:name=".ui.EditGoalActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service
            android:name=".dal.remote.FirebaseConnectionService"
            android:exported="false" />

        <activity android:name=".ui.CreateRecommendationActivity" />
        <activity android:name=".ui.resource_library.AlertDialogActivity"></activity>
    </application>

</manifest>