<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="emse.mobisocial.goalz">

    <application
        android:name=".GoalzApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".test.TestActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.BaseActivity"
            android:label="@string/title_activity_base"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.ExploreActivity"
            android:label="@string/title_activity_explore"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ui.GoalsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="emse.mobisocial.goalz.dal.remote.FirebaseConnectionService"
            android:exported="false"/>
        <activity
            android:name=".ui.GoalActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.UsersLibraryActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.UserActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>